@import "tailwindcss";
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #dad3d3; /* Force black across the whole viewport */
  /* This prevents the "white bounce" on iPhones */
  overscroll-behavior: none; 
}
:root {
  --background: rgb(0, 0, 0);
  --color-brand: #d8dce0;
  --foreground: #000000;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (hover: none) {
  .group-hover\:opacity-100 {
    opacity: 1 !important; /* Always show 'X' on mobile devices */
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
